# Package specific
config/private.*
config/*/private.*
config/certs/*.*
bin/
pkg/
tmp/
debug/
download/

# Code coverage
*_coverage.out
coverage.out
coverage.txt

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_store
.env
.vscode/*.log